[submodule "docs/assets"]
	path = docs/assets
	url = https://github.com/Nixtla/styles.git
[submodule ".github/ISSUE_TEMPLATE"]
	path = .github/ISSUE_TEMPLATE
	url = https://github.com/Nixtla/nixtlaverse-issue-template
