version: 2.1
jobs:
  nbdev-tests:
    resource_class: large
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
            source .venv/bin/activate           
            uv pip install ".[dev]"
      - run:
          name: Run nbdev tests
          command: |
            nbdev_test --do_print --timing
  test-model-performance:
    resource_class: large
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
            source .venv/bin/activate           
            uv pip install ".[dev]"
            cd ./action_files/test_models/
            uv pip install -r requirements.txt
      - run:
          name: Run model performance tests
          command: |
            python -m src.models
            python -m src.evaluation
            cd ../../
      - store_artifacts:
          path: ./action_files/test_models/data/evaluation.csv
          destination: evaluation.csv

workflows:
  sample:
    jobs:
      - nbdev-tests
      - test-model-performance
