version: 2.1
jobs:
  nbdev-tests:
    resource_class: xlarge
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run nbdev tests
          command: |
            source .venv/bin/activate           
            uv pip install ".[dev]"
            nbdev_test --do_print --timing
  test-model-performance:
    resource_class: large
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run model performance tests
          command: |
            source .venv/bin/activate           
            uv pip install ".[dev]"
            cd ./action_files/test_models/
            uv pip install -r requirements.txt
            python -m src.models
            python -m src.evaluation
            cd ../../
      - store_artifacts:
          path: ./action_files/test_models/data/evaluation.csv
          destination: evaluation.csv
  benchmark-reconcilers:
    resource_class: large
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run benchmark reconcilers
          command: |
            source .venv/bin/activate           
            uv pip install ".[dev]"
            pytest tests/test_benchmark.py -v -s --benchmark-min-rounds=20 --disable-warnings  --benchmark-json="./action_files/benchmarks/benchmark_reconcilers.json"
      - store_artifacts:
            path: ./action_files/benchmarks/benchmark_reconcilers.json
            destination: benchmark_reconcilers.json

workflows:
  sample:
    jobs:
      - nbdev-tests
      - test-model-performance
      - benchmark-reconcilers