name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Tests cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
    runs-on: ${{ matrix.os-platform[0] }}
    timeout-minutes: 60
    env:
      CIBW_BUILD_FRONTEND: build[uv]
    strategy:
      fail-fast: false
      matrix:
        python-version: [310, 311, 312, 313, 314]
        os-platform:
          - [ubuntu-latest, manylinux_x86_64]
          - [ubuntu-latest, manylinux_aarch64]
          - [windows-latest, win_amd64]
          - [macos-13, macosx_x86_64]
          - [macos-14, macosx_arm64]
    steps:
      - name: Clone repo
        uses: actions/checkout@v6.0.2
        with:
          submodules: true

      - name: Set up QEMU
        if: matrix.os-platform[1] == 'manylinux_aarch64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Build wheels and run tests
        uses: pypa/cibuildwheel@v3.0.0
        env:
          CIBW_BUILD: cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
          CIBW_TEST_SKIP: "*linux_aarch64"
          CIBW_BEFORE_BUILD_MACOS: brew install libomp
          CIBW_TEST_REQUIRES: >
            datasetsforecast statsforecast>=1.0.0 scipy polars[numpy]<=1.32.0
            pytest pytest-benchmark pytest-cov
          CIBW_TEST_COMMAND: >
            pytest {project}/tests --no-cov --import-mode=importlib
